<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SecurityData" connectionString="Host=localhost;Port=5432;Database=SecurityData;Username=postgres;Password=72745621008;" providerName="Npgsql"/>
	</connectionStrings>
	<system.diagnostics>
		<sources>
			<source name="System.Windows.Data" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="SourceSwitch" value="Information"/>
		</switches>
		<trace autoflush="true"/>
	</system.diagnostics>
</configuration>
